
nav{
   height: 64px;
   width: 1360px;
    background-color: $bgPrimary;
    color: white;
    display: flex !important;
    justify-content: space-between;

  
    ul{
        display: flex;
        li{
            font-size: 16pt;
            padding: 15px;
            padding-bottom: 31px;
            list-style: none;
            line-height: 0;
            &:hover{
                border-bottom: 4px solid white;
                cursor: pointer;
            }
            
        }
   
    }
}

#contacts{
    height: 191.5px;
    width: 1306px;
    padding: 0 30px;
   /*  h1{

    } */
   
    #contactsContainer{
        display: flex;
        justify-content: space-between;
        height: 41px;
        
        #contactsInput{
            width: 502px;
            height: 41px;
            padding: 0;
            border-radius: 3.5px;
            position: relative;
            bottom: 10%;
        }
        #iconFilter{
            z-index: 10;
            position: relative;
            left: -30px;
        }
        #iconSearch{
            margin-top: 4px;
        }
        #contactsButtons{
            display: flex;
            
            #iconImport{
                border: 1px solid rgba(0,0,0,0.25);
                border-radius: 3.5px;
                margin-right: 9px;
            }
            #exportContacts{
                width: 172px;
                height: 41px;
                margin-right: 9px;
                }
            #iconAdd{
                width: 172px;
            }  

           
        }
       
    }
}

#table{
    width: 1310px;
    height: 624px;
    border: 1px solid rgba(0,0,0,0.10);
    margin: 27px;
    thead{
       th{
           border-bottom: 1px solid rgba(0,0,0,0.10);
           input{
               width: 54px;
           }
       }

    
    }
    th, td{
        text-align: left;
        width: 13%;
        padding: 1%;
        &:nth-child(1){
            width: 5%;
        }
        input{
            width: 54px;
        }
    }
    
    .channel{
        
        span{
            color: $borderBlue;
            background-color: rgba(221, 223, 250, 0.9);
            border-radius: 4px;
            margin: 3%;
            padding: 2%;
        }
    }
    
    #interes{
        
        width: 186px;
        display: flex;
        padding-top: 20px; 

        .progressBar{
            height: 11px;
            width: 103px;
            margin-left: 20px;
            border: 1px solid $bgGray;
            background-color: $bgGray;
            border-radius: 5px;
        }
        //Modificar Width
        .progressBar100{
            border:  1px solid $bgRed;
            background-color: $bgRed;
            margin-left: -6px;
            height: 8px;
            border-radius: 5px;
            width: 100%;
            padding-left: 4%;
        }
        .progressBar75{
            border:  1px solid $bgOrange;
            border-radius: 5px;
            background-color: $bgOrange;
            height: 8px;
            width: 75%;
        }
        .progressBar50{
            border:  1px solid $bgYellow;
            border-radius: 5px;
            background-color: $bgYellow;
            height: 8px;
            width: 50%;
        }
        .progressBar25{
            border:  1px solid $bgCyan;
            border-radius: 5px;
            background-color: $bgCyan;
            height: 8px;
            width: 20%;
        }

    }
    #actions{
        .iconPoints{
            padding-left: 40%;
        }
    }
    
   
    
}

#tablePagination {
    width: 1310px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    color: gray;
    i{
        color: gray;
    }
    span{
        margin-left: 10px;
       
    }
    div:nth-child(2){
        p{
        width: 200px;
            display: flex;
            justify-content: space-between; 
        }
        
    }
}

