
#createUser{
   margin: 40px;
   
     .container{
        border: 2px $bgPrimary solid;
        background: linear-gradient(to bottom, $bgPrimary 23%,white 23%,white 100%);      
        border-radius: 4px;
        width: 350px;
        height: 380px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: start;
        padding: 1%;
        color: $bgBlack;
        font-size: 12pt;
        h1{
            color: $bgWhite;
            text-align: center;
        }
        label{
            display: inline-block;
            width: 150px;
        }
        #createButton{
           text-align: center;
           margin: 1%;
        }

        
      
    } 
}