
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  



  #citySection {
    
      button{
          float: right;
      }
      li{
          margin: 3%;
      }
      i{
          margin-left: 2%;
      }
      .buttonRegion{
         
         margin-right: 3%;
      }
      .buttonSecondary{
        border: 1px solid #CCCCCC;
        background: $bgGray;
        color: $bgBlack;
      }
      .buttonTerciary{
        position: absolute;
        right: 8%;
        border: 1px solid $bgPrimary;
      }
      .fas{
        display: none;
      }
      li:hover .fas{
        display: inline;
        padding: 1%;
        border: 2px $bgGray solid;
      }
     
    
  }
  
 