
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  



  #citySection {
    
 
      button{
          float: right;
        
          
      }
      li{
          margin: 3%;
      }
      i{
          margin-left: 2%;
      }
      .buttonRegion{
         
         margin-right: 5%;
      }
      .buttonTerciary{
        position: absolute;
        right: 8%;
        border: 1px solid $bgPrimary;
      }
    
  }
  
  #createRegion{
    .container{
      background: linear-gradient(to bottom, $bgPrimary 40%,white 23%,white 100%);    
      height: 200px;
    }
  
  }