body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.hidden {
  display: none !important;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-left: 9px;
  width: 41px;
  height: 41px;
  cursor: pointer;
}

.buttonLarge {
  width: 130px;
  border: 1px solid #8EC7FC;
}

.buttonPrimary {
  background-color: #1D72C2;
  color: #FFFFFF;
}

.buttonSecondary {
  background-color: #FFFFFF;
  color: #1D72C2;
  border: 1px solid #1D72C2;
}

.buttonTerciary {
  border: none;
  background-color: #FFFFFF;
  color: #8EC7FC;
}

.buttonDisabled {
  background-color: gray;
  color: #FFFFFF;
}

.inputText {
  border: 1px solid #CCCCCC;
}

.inputDisabled {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #C6CACC;
}

.inputSelect {
  background: #FFFFFF;
  border: 1px solid #C6CACC;
}

.inputRequired {
  border: 1px solid #F03738;
}

i {
  color: gray;
  cursor: pointer;
}

strong {
  color: #DE0028;
}

a:-webkit-any-link {
  color: #FFFFFF;
  text-decoration: none;
}

span {
  color: gray;
}

td {
  text-align: center;
  vertical-align: middle;
}

#createUser, #updateUserSection, #createRegion, .create {
  margin: 40px;
}

#createUser .container, #updateUserSection .container, #createRegion .container, .create .container {
  border: 1px solid #1D72C2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26%, #1D72C2), color-stop(23%, white), to(white));
  background: linear-gradient(to bottom, #1D72C2 26%, white 23%, white 100%);
  border-radius: 2px;
  width: 350px;
  height: 380px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: start;
  padding: 1%;
  color: #000000;
  font-size: 12pt;
}

#createUser .container h1, #updateUserSection .container h1, #createRegion .container h1, .create .container h1 {
  color: #FFFFFF;
  position: relative;
  text-align: center;
}

#createUser .container label, #updateUserSection .container label, #createRegion .container label, .create .container label {
  display: inline-block;
  width: 150px;
}

#createUser .container .buttonsAction, #updateUserSection .container .buttonsAction, #createRegion .container .buttonsAction, .create .container .buttonsAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
}

nav {
  height: 64px;
  width: 1366px;
  background-color: #1D72C2;
  color: white;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  font-size: 16pt;
  padding: 15px;
  padding-bottom: 31px;
  list-style: none;
  line-height: 0;
}

nav ul li:hover {
  border-bottom: 4px solid white;
  cursor: pointer;
}

#contacts {
  height: 191.5px;
  width: 1306px;
  padding: 0 30px;
  /*  h1{

    } */
}

#contacts #contactsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 41px;
}

#contacts #contactsContainer #contactsInput {
  width: 502px;
  height: 41px;
  padding: 0;
  border-radius: 3.5px;
  position: relative;
  bottom: 10%;
}

#contacts #contactsContainer #iconFilter {
  z-index: 10;
  position: relative;
  left: -30px;
}

#contacts #contactsContainer #iconSearch {
  margin-top: 4px;
}

#contacts #contactsContainer #contactsButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contacts #contactsContainer #contactsButtons #iconImport {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3.5px;
  margin-right: 9px;
}

#contacts #contactsContainer #contactsButtons #exportContacts {
  width: 172px;
  height: 41px;
  margin-right: 9px;
}

#contacts #contactsContainer #contactsButtons #iconAdd {
  width: 172px;
}

#table {
  width: 1310px;
  height: 624px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 27px;
}

#table thead th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#table thead th input {
  width: 54px;
}

#table th, #table td {
  text-align: left;
  width: 13%;
  padding: 1%;
}

#table th:nth-child(1), #table td:nth-child(1) {
  width: 5%;
}

#table th input, #table td input {
  width: 54px;
}

#table .channel span {
  color: #0683F9;
  background-color: rgba(221, 223, 250, 0.9);
  border-radius: 4px;
  margin: 3%;
  padding: 2%;
}

#table #interes {
  width: 186px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

#table #interes .progressBar {
  height: 11px;
  width: 103px;
  margin-left: 20px;
  border: 1px solid #E8E8E8;
  background-color: #E8E8E8;
  border-radius: 5px;
}

#table #interes .progressBar100 {
  border: 1px solid #DE0028;
  background-color: #DE0028;
  margin-left: -6px;
  height: 8px;
  border-radius: 5px;
  width: 100%;
  padding-left: 4%;
}

#table #interes .progressBar75 {
  border: 1px solid #FF6F00;
  border-radius: 5px;
  background-color: #FF6F00;
  height: 8px;
  width: 75%;
}

#table #interes .progressBar50 {
  border: 1px solid #FFC700;
  border-radius: 5px;
  background-color: #FFC700;
  height: 8px;
  width: 50%;
}

#table #interes .progressBar25 {
  border: 1px solid #1CC1F5;
  border-radius: 5px;
  background-color: #1CC1F5;
  height: 8px;
  width: 20%;
}

#table #actions .iconPoints {
  padding-left: 40%;
}

#tablePagination {
  width: 1310px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: gray;
}

#tablePagination i {
  color: gray;
}

#tablePagination span {
  margin-left: 10px;
}

#tablePagination div:nth-child(2) p {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropDown {
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  width: 501px;
  position: absolute;
  left: 30px;
  top: 190px;
  z-index: 10;
  background-color: white;
  -webkit-box-shadow: 1px 2px 2px rgba(128, 128, 128, 0.37);
          box-shadow: 1px 2px 2px rgba(128, 128, 128, 0.37);
}

#contactsFilter table {
  margin: auto;
}

#contactsFilter table input {
  width: 312px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

#contactsFilter table select {
  width: 190px;
  height: 35.5px;
  border: 1px solid #E8E8E8;
}

#predictiveSearch {
  color: #E8E8E8;
}

#predictiveSearch p {
  padding-left: 20px;
}

#filterApplied {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#filterApplied div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E8E8E8;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 0;
  padding: 0 1%;
  border-radius: 4px;
  height: 24px;
  font-weight: 13px;
}

#filterApplied div p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#filterApplied div i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 5%;
}

.arrowHover #actions .fa-trash, .arrowHover #actions .fa-pencil-alt {
  display: none;
}

.arrowHover tr:hover {
  background: rgba(0, 0, 0, 0.05);
}

.arrowHover tr:hover #actions .iconPoints {
  display: none;
}

.arrowHover tr:hover #actions .fa-trash, .arrowHover tr:hover #actions .fa-pencil-alt {
  display: inline;
  padding-left: 18%;
  padding-right: 12%;
}

.arrowSelect {
  background-color: rgba(0, 0, 255, 0.151);
}

.exportContactsOptions {
  width: 171px;
  left: 975px;
  display: block;
}

.exportContactsOptions p {
  margin-left: 3%;
  color: #1D72C2;
  font-size: 11pt;
}

#importContactsSection, .deleteSection {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.897);
}

#importContactsSection .container, .deleteSection .container {
  background: #FFFFFF;
  border-radius: 4px;
  width: 339px;
  height: 303px;
  position: relative;
  top: 25%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 2%;
  color: gray;
  font-size: 14pt;
}

#importContactsSection .container img, .deleteSection .container img {
  width: 105px;
  height: 105px;
  margin-left: 35%;
}

#importContactsSection .container .deleteButton, .deleteSection .container .deleteButton {
  background: #e72323;
  color: white;
  border: none;
}

#newContactSection {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.897);
}

#newContactSection .container {
  width: 1215px;
  height: 577px;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #1D72C2), color-stop(25%, white), to(white));
  background: linear-gradient(to bottom, #1D72C2 25%, white 25%, white 100%);
  top: 20%;
  margin: auto;
}

#newContactSection .container h1 {
  color: white;
  margin: 2%;
  padding-top: 2%;
}

#newContactSection .container input, #newContactSection .container select, #newContactSection .container button {
  width: 190px;
  height: 36px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

#newContactSection #principalInfoContact {
  width: 1172px;
  height: 131px;
  border: 3px solid #0683F9;
  margin: auto;
  border-radius: 6.5px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#newContactSection #principalInfoContact img {
  width: 85px;
  height: 84px;
  border-radius: 100%;
  border: 3px solid #0683F9;
  margin: 10px;
}

#newContactSection #secondInfoContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 45px 20px;
}

#newContactSection #secondInfoContact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

#newContactSection #secondInfoContact #divInterestContact {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#newContactSection #secondInfoContact #divInterestContact select {
  width: 70px;
  margin-left: 10%;
  padding-left: 2%;
}

#newContactSection #secondInfoContact #buttonAddChannel {
  padding-top: 18px;
}

#newContactSection #buttonsContact {
  text-align: end;
  margin: 0 2%;
}

#companiesSection, #usersSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2% 3% 5% 3%;
}

#companiesSection div, #usersSection div {
  width: 1306px;
}

#companiesSection div h1, #usersSection div h1 {
  float: left;
}

#companiesSection div button, #usersSection div button {
  float: right;
  margin-top: 15px;
}

#companiesSection table, #usersSection table {
  width: 1200px;
  margin: 4% 3%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#companiesSection table .iconPoints, #usersSection table .iconPoints {
  padding-left: 8%;
}

/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#citySection {
  margin: 10%;
}

#citySection button {
  float: right;
}

#citySection li {
  margin: 3%;
}

#citySection i {
  margin-left: 2%;
}

#citySection .buttonRegion {
  position: absolute;
  top: 20%;
  right: 12.3%;
}

#citySection .buttonTerciary {
  position: absolute;
  right: 12.3%;
  border: 1px solid #1D72C2;
}

#createRegion .container {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #1D72C2), color-stop(23%, white), to(white));
  background: linear-gradient(to bottom, #1D72C2 40%, white 23%, white 100%);
  height: 200px;
}

#loginUser {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.897);
}

#loginUser .container {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #1D72C2), color-stop(35%, white), to(white));
  background: linear-gradient(to bottom, #1D72C2 35%, white 35%, white 100%);
  border-radius: 4px;
  width: 320px;
  height: 303px;
  position: relative;
  top: 25%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 2%;
  color: #FFFFFF;
  font-size: 14pt;
}
/*# sourceMappingURL=style.css.map */